<!DOCTYPE html>
{% extends 'base_auth.html' %}
{% load static %}
<html lang="en">
<head>

      

    {% block 'head' %}{% endblock %}  
{% block 'titulo' %}DIV ADM EXT{% endblock %}
    <title>LOGIN</title>
</head>
<body class='body-b'>
    {% block 'body' %}
        {% if messages %}
                    <br>
                    {% for message in messages %}
                        <div class="alert {{message.tags}}">
                            {{message}}
                        </div>
                    {% endfor %}
                {% endif %}

    
                <main class="main-inicial">
                    <section class="main-conteudo">
                            <img src="{% static 'autenticacao/img/base.png'%}" class="logo-home">
                        <h2 class='h2-h'> B ADM CMPL SAU RJ</h2>
                        <p class='p-p'>SISTEMA DE CONTROLE DE PREGÕES E EMPENHOS</p>
                        <div class="">         
                            <a class='a-a' href="{% url 'logar'%}"><button class="btn-home ">ENTRAR</button></a> 
            
                            <button class="btn-home">VISITANTE</button>
                        </div>
                    </section>
                </main>
    
    {% endblock %}
            
</body>
</html>