{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
{% endblock %}

{% block 'titulo' %}LOGIN{% endblock %}


    {% block 'body' %}


    
            <main class="form-inicial">
                <div class="conteudo">
                    <div class="form-cabeca bg-fundo">
                        <h2 class='h2-h'>DIV ADM EXT</h2>

                    </div>
                    
                    <p class="sub-titulo p-p">Entre com sua conta</p>

                    <form class="formulario" action="{% url 'logar'%}" method="POST">{% csrf_token %}
                        <div class="form-controle">
                            <label for="">Nome de usuário</label>
                            <input type="text" name="usuario" placeholder="Digite seu nome de usuário">
                        </div>
                        <div class="form-controle">
                            <label for="">Senha</label>
                            <input type="password" name="senha" placeholder="Digite sua senha">
                        </div>
                        {% if messages %}
                    <br>
                    {% for message in messages %}
                        <div class="alert {{message.tags}}">
                            {{message}}
                        </div>
                    {% endfor %}
                {% endif %}
                        <button type="submit" class="btn-padrao bg-fundo">ENTRAR</button>
                    </form>

                </main>
    
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" ></script>
    {% endblock %}

