<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="{% static 'autenticacao/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'autenticacao/css/util.css' %}">
    <title>Document</title>
</head>
<body class='fundo'>
    {% include 'navbar.html' %}
<br>
<br>
<br>
<div class='container'>
<div class="container-fluid"  >

        <div class="col-md-5 fundo bg-dark text-white">
            <br>
            <div class="area_cadastrar">
                {% if messages %}
                    <br>
                    {% for message in messages %}
                        <div class="alert {{message.tags}}">
                            {{message}}
                        </div>
                    {% endfor %}
                {% endif %}
            <h2 class="titulo">Seja bem vindo</h2>
            <p class="sub-titulo">Entre com sua conta</p>
            <hr>
            <form action="{% url 'logar'%}" method="POST">{% csrf_token %}
                <span class="bold">Nome de usuário</span>
                <input class="form-control inpu t-form" name="usuario" type="text" placeholder="Digite seu nome...">
                <br>
                <span class="bold">Senha</span>
                <input class="form-control input-form" name="senha" type="password" placeholder="Digite sua senha...">
                <br>
                <button class="btn-first bg-dark">ENTRAR</button>
            </form>
        </div>
        <br>
        </div>

        </div>
    </div>
</div>
{% include 'footer.html' %}
</body>
</html>