{% extends 'base_plataforma.html' %}

{% load static %}


{% block 'plataforma' %}
    {% if messages %}
        <br>
        {% for message in messages %}
            <div class="alert {{message.tags}}">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    <br>
    
    <div class="row">

        <div class="col-md-3">
            <img src="{{ om.foto.url}}">
            </div>
            <div class="col-md-3 dados descricao">
            <h4>{{om.sigla}}</h4>
            <h6>{{om.email}}</h6>
            <h6>{{om.telefone}}</h6>
        </div>
     
        <h1>{{om.sigla}}</h1>
    </div>
    <br>
    <div class="borda-box"></div>
    <br>
    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modal">
        Inserir Empenho
    </button>
    <br>
    <br>
    <form>
        <div class="row" action="{% url 'inserir_empenho' om.id%}" method="GET">
            
                <div class="col-md-4">
                    <input type="text" placeholder="Busque pelo fornecedor" class="form-control" name="fornecedor">
                </div>

                <div class="col-md-4">
                    <input type="text" placeholder="Busque pelo n° empenho" class="form-control" name="numero_empenho">
                </div>



            <div class="col-md-3">
                <input type="submit" value="FILTRAR" class="btn btn-lg btn-dark">
            </div>
        </div>
        </form>
    <br>
    
    <div class='scroll'>
        <table class="table table-striped table-bordered table-hover table-sm ">
            <caption>Lista de Empenhos</caption>
            <thead class='table-dark '>
            <tr>
            <th>OM</th>
            <th>FORNECEDOR</th>
            <th>NE</th>
            <th>ND</th>
            <th>UG</th>
            <th>PREGÃO</th>
            <th>DATA</th>
            <th>AÇÕES</th>

            </tr>
            </thead >

            <tbody>
            {% for i in empenhos %}
            <tr>
                <td>{{i.om}}</td>
                <td>{{i.fornecedor }}</td>
                <td>2022NE000{{i.numero}}</td>
                <td>{{i.nd}}</td>
                <td>{{i.ug }}</td>
                <td>{{i.pregao}}</td>
                <td>{{i.data}}</td>
                <td> 
                    <a href="{{ i.pdf.url }}" target="_blank" rel="noopener noreferrer"><button type="button" class="btn btn-dark btn-sm">
                        ABRIR
                        </button></a>

                        <a href="{% url 'remover_empenho' i.id%}" rel="noopener noreferrer"><button type="button" class="btn btn-dark btn-sm">
                            REMOVER
                            </button></a>
                    </div>
                    </div>
                </div>
                </div>
                </td>
                {% comment %}{% url 'remover_empenho' i.id%}{% endcomment %}
      


            </tr>
            {% empty %}
            <td> SEM EMPENHOS</td>
            {% endfor %}
            </tbody>
        </table>

        </div>

            <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header table-dark ">
                        <h5 id="exampleModalLabel">INSERIR EMPENHO</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                       
                        <form action="{% url 'inserir_empenho' om.id%}" method="POST" enctype='multipart/form-data'> {% csrf_token %}
                            
                            <div class="row">
                                <div class="modal-body"> 
                                        <div><label>OM: </label>
                                        <div>{{form_empenho.om}}</div>
                                        </div>
                              
                                        <div><label>FORNECEDOR: </label>
                                        <div>{{form_empenho.fornecedor}}</div>
                                        </div>
                       
                                        <div><label>NUMERO:</label>
                                        <div>{{form_empenho.numero}}</div>
                                        </div>
              
                                        <div><label>ND:</label>
                                        <div>{{form_empenho.nd}}</div>
                                        </div>
                                        <div><label>UG: </label>
                                        <div>{{form_empenho.ug}}</div>
                                        </div>

                                        <div><label>PREGÃO: </label>
                                        <div>{{form_empenho.pregao}}</div>
                                        </div>
                                   
                                        <div><label>DATA:</label>
                                        <div>{{form_empenho.data}}</div>
                                        </div>
                                    
                                        <div><label>PDF:</label>
                                        <div>{{form_empenho.pdf}}</div>
                                    </div>
                                </div>
                            </div>
                            <br>
              
                            <input type="submit" class="btn btn-dark " value="Registrar">
                        </form>
                  
                        </div>
                    </div>
                </div>
            </div>
         


            
{% endblock%}