{% extends 'base_plataforma.html' %}
{% load static %}

{% block head %}

{% endblock head %}
{% block 'plataforma' %}

<div class="wrapper">
    <div class="box"> 
        {% if messages %}
        {% for message in messages %}
            <div class="alert {{message.tags}}">
            {{message}}
            </div>
        {% endfor %}
        {% endif %}
            <div class="header-box-om">
                <div class="alinhado_ne">
                    <div>
                        <img src="{% static 'plataforma/img/base.png'%} " width='100'>
                    </div>
      
              
                        <h1 class="titulo">B ADM CMPL SAU RJ</h1>
          
                </div>
            </div>
            <div class="borda-box"></div>
            <div class="body-box">
                <form>
                    <div class="row" action="{% url 'listar_empenhos' %}" method="GET">
                        
                            <div class="col-md-3">
                                <input type="text" placeholder="Busque pelo fornecedor" class="form-control" name="fornecedor">
                            </div>
            
                            
                            <div class="col-md-3">
                                <input type="text" placeholder="Busque pelo n° empenho" class="form-control" name="numero_empenho">
                            </div>
                           
                           
                            
                         
                            <div class="col-md-2">   
                                <select class="form-control" name="om_select">
                                    <option value="" selected="">-----</option>
                                    {% for om in om_list %}
                                    
                                    <option value="{{ om.id }}">{{ om }}</option>
                                    {% endfor %}
                                </select>         
                            </div>
            
                        <div class="col-md-1">
                            <input type="submit" value="FILTRAR" class="btn btn-lg btn-dark">
                        </div>
                        <div class="col-md-3">
                            <a href="{% url 'listar_empenhos'%}">
                                <button type="button" class="btn btn-lg btn-dark ">
                                LIMPAR
                                </button>
                                </a>
                        </div>
                    </div>
                    </form>
                <br>
                <div class='scroll1'>
                    <table class="tabela table-striped table-hover table-sm" cellpadding="20">
                        <caption>Lista de Empenhos</caption>
                        <thead class='table-dark'>
                        <tr>
                            <th>DIAS</th>
                            <th>OM</th>
                            <th>FORNECEDOR</th>
                            <th>NE</th>
                            <th>PREGÃO</th>
                            <th>DATA</th>
                            <th>VALOR</th>
                            <th>AÇÕES</th>
                        </tr>
                        </thead>
                        <tbody class='bg-light'>
                            {% for i in empenhos %}
                            <tr class="tabela-linha" >
                                <td {% if not i.entregue %}{{i.prioridade}}>{{i.qtd_dias }}{% else %}</td>OK{% endif %}
                                <td>{{i.om }}</td>
                                <td>{{i.fornecedor }}</td>
                                <td>2022NE000{{i.numero}}</td>
                                <td>{{i.pregao}}</td>
                                <td>{{i.data}}</td>
                                <td>
                                    {% if i.valor%}
                                    R${{i.preco}}
                                    {% else %}
                                    -------
                                    {% endif %}</td>
                                <td> 
                                    <a class="btn btn-success btn-sm" href="{{ i.pdf.url }}" target="_blank" rel="noopener noreferrer">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
                                            <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                                          </svg>

                                    </a>
                                    <a class="btn btn-success btn-sm" href="{% url 'entregue' i.id%}"  rel="noopener noreferrer">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-all" viewBox="0 0 16 16">
                                        <path d="M8.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L2.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093L8.95 4.992a.252.252 0 0 1 .02-.022zm-.92 5.14.92.92a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 1 0-1.091-1.028L9.477 9.417l-.485-.486-.943 1.179z"/>
                                      </svg>
                                    </a>
                                </td>
                            </tr>
                            {% empty %}
                            <td> SEM EMPENHOS</td>
                            {% endfor %}
                        </tbody>
                    </table>
            
                    </div>
            
            </div>        
    </div>
</div>
            
{% endblock%}

