{% extends 'base.html' %}

{% load static %}

{% block 'head' %}


{% endblock 'head' %}

{% block 'body' %}
    <div class="container-fluid">
        <div class="row row1">
            <div class="col-md-2">
                <br>
                <a href="{% url 'home'%}" class="link-lateral">
                    <div class="card-lateral">
                    <img src="{% static 'plataforma/img/grafico.png' %}" weight='50' height='60'  >
                    <br>

                    <h5>EXECUÇÃO</h5>
                    </div>
                    </a>
                <a href="{% url 'home_oms'%}" class="link-lateral">
                    <div class="card-lateral">
                    <img src="{% static 'plataforma/img/saude.png' %}" weight='80' height='60'  >
                    <br>

                    <h5>OMS</h5>
                    </div>
                    </a>
                    <a href="{% url 'credito'%}" class="link-lateral">
                        <div class="card-lateral ">
                            <img src="{% static 'plataforma/img/credito.png' %}" weight='80' height='60'>
                            
                            
                            <h6>CONTROLE DE CRÉDITO</h6>
                        </div>
                    </a>
                    <a href="{% url 'om_empenhos'%}" class="link-lateral">
                    <div class="card-lateral">
                    <img src="{% static 'plataforma/img/ne.png' %}" weight='80' height='60'>
                  
                    <h6>NOTAS DE EMPENHO</h6>
                    </div>
                    </a>
                    <a href="{% url 'pregoes'%}" class="link-lateral">
                    <div class="card-lateral ">
                    <img src="{% static 'plataforma/img/pregao.png' %}" weight='80' height='60'>
                    <br>
                   
                    <h5>PREGÕES</h5>
                    </div>
                    </a>
                    <a href="{% url 'fornecedores'%}" class="link-lateral">
                        <div class="card-lateral card-ultimo">
                            <img src="{% static 'plataforma/img/fornecedor1.png' %}" weight='80' height='60'>
                            <br>
                        
                            <h5>FORNECEDORES</h5>
                        </div>
                    </a>
                    
            </div>
            <div class="col-md-9">
                {% block 'plataforma' %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock%}
